#App.firefox .FxControl {
	margin-right: 20px;
}

.FxControl {
	font-size: 1rem;
	background-color: var(--fg-color);
	user-select: none;

	& > * {
		margin-bottom: 10px;
	}

	& > .controls {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 8px;

		& > button {
			color: var(--icon-color);
			border-radius: var(--radius-md);

			&.active {
				color: var(--icon-vibrant-color);
			}
			&.muted {
				color: var(--icon-muted-color);
			}

			&.active.levelup {
				box-shadow: inset 0 0 0 1.5px var(--icon-vibrant-color);
				& > svg {
					transform: scale(1.12);
				}
			}
		}
	}

	& > .buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8px;
	}

	& > .selector {
		margin-top: 10px;
		display: grid;
		row-gap: 6px;
	}

	& > .origin {
		display: grid;
		grid-template-columns: 1fr max-content max-content;
		column-gap: 10px;
	}
}
