.Header {
	display: grid;
	grid-template-columns: repeat(3, max-content) 1fr repeat(5, max-content);
	justify-items: right;
	align-items: center;
	padding: 8px 10px 6px 10px;
	border-bottom: 1px solid var(--border-weak);
	background-color: var(--fg-color);
	gap: 2px;

	& > .kebab {
		margin-top: -3px;
		padding-left: 2px;
		margin-left: -5px;
		line-height: 0;
		position: relative;

		.alert {
			pointer-events: none;
			position: absolute;
			right: -5px;
			top: -6px;
			color: var(--icon-vibrant-color);
		}
	}

	& .kebabTooltip {
		margin-top: -3px;
		padding-left: 2px;
		line-height: 0;
	}

	& > div {
		padding: 5px 6px;
		color: var(--icon-color);
		border: none;
		cursor: pointer;
		border-radius: var(--radius-md);
		transition:
			background-color var(--transition-fast),
			color var(--transition-fast);

		&.noPadding {
			padding: 0;
		}

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: var(--control-hover-bg-color);
		}

		@keyframes beat {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(0.88);
			}
			100% {
				transform: scale(1);
			}
		}

		&.active {
			color: var(--icon-vibrant-color);

			&.red {
				color: var(--error-border-color);
			}

			&.beat {
				animation: 1.2s ease-in-out beat infinite;
			}
		}

		&.muted {
			color: var(--icon-muted-color);
		}

		& > svg {
			vertical-align: baseline;
		}
	}
}

.kebabOverlayOutline,
.kebabOverlayMessage {
	z-index: 999999999999;
	pointer-events: none;
	position: fixed;

	&.kebabOverlayOutline {
		border: 3px solid var(--icon-vibrant-color);
		border-radius: var(--radius-md);
	}

	&.kebabOverlayMessage {
		background-color: var(--fg-color);
		color: var(--icon-vibrant-color);
		padding: 12px;
		width: 100%;
		text-align: center;
		font-weight: var(--font-weight-semibold);
		font-size: 0.9em;
		box-shadow: var(--card-shadow);
	}
}
