.OrmHeader {
	background-color: var(--mg-color);
	border-bottom: 1px solid var(--border-weak);
	color: var(--text-color);
	padding: 6px 12px;
	font-size: 0.8rem;
	font-weight: var(--font-weight-semibold);
	display: grid;
	grid-template-columns: 1fr max-content max-content;
	align-items: center;
	column-gap: 8px;
	user-select: none;

	& > span {
		opacity: 0.65;
	}

	& > svg:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}
