.SvgFilterList {
	border-top: 1px solid var(--border-weak);
	margin-top: 14px;
	padding-top: 4px;

	& > .header {
		font-size: 0.85em;
		text-align: center;
		color: var(--text-secondary);
		margin-top: 6px;
		font-weight: var(--font-weight-medium);
	}

	& > .list {
	}

	& > .controls {
		display: flex;
		column-gap: 8px;
		margin-top: 10px;
	}

	div {
		&.active {
			color: var(--icon-vibrant-color);

			&.beat {
				animation: 1s ease-in beat infinite;
			}
		}

		&.muted {
			color: var(--icon-muted-color);
		}
	}
}
