.SvgFilter {
	margin-top: 12px;
	padding: 12px;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	background-color: color-mix(in srgb, var(--mg-color) 30%, var(--fg-color));

	& > .header {
		font-size: 1.1em;
		display: grid;
		grid-template-columns: max-content 1fr max-content max-content max-content;
		align-items: center;
		column-gap: 6px;
		margin-bottom: 6px;
		font-weight: var(--font-weight-medium);
	}

	& > .presets {
		display: grid;
		grid-template-columns: max-content 1fr;
		column-gap: 6px;
		align-items: center;
		margin-top: 8px;
	}

	& > .core {
		margin-top: 8px;
	}
}
