.SectionHelp {
	& > .card {
		margin-bottom: 28px;
	}

	& > .controls {
		display: grid;
		grid-template-columns: max-content max-content 1fr;
		column-gap: 10px;
		justify-items: right;

		& > button {
			text-transform: uppercase;
			font-size: 0.85em;
			letter-spacing: 0.03em;
		}

		& > .right {
			display: grid;
			grid-template-columns: max-content max-content max-content max-content;
			column-gap: 6px;

			& > *:nth-child(3) {
				margin-left: 14px;
			}
		}
	}
}
