.ErrorFallback {
	padding: 16px;
	background-color: var(--fg-color);
	font-size: 1.05em;
	border: 2px solid var(--error-border-color);
	border-radius: var(--radius);

	button {
		display: block;
		margin-top: 8px;
	}

	li {
		margin-bottom: 14px;
		line-height: 1.5;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
