.FloatTooltip {
	position: absolute;
	left: -80px;
	right: -80px;
	bottom: 40px;
	font-size: 0.85em;
	display: grid;
	justify-content: center;

	& > div {
		display: inline-block;
		padding: 4px 8px;
		background-color: var(--error-border-color);
		color: white;
		border-radius: var(--radius-md);
		font-weight: var(--font-weight-medium);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	}
}
