.ModalText {
	& textarea {
		width: 50vw;
		height: 75vh;
		padding: 20px;
		border-radius: var(--radius-xl);
		font-family: "SF Mono", "Fira Code", "Cascadia Code", monospace;
		font-size: 0.9em;
		line-height: 1.6;
	}
}

.ModalBase.isMobile.ModalText textarea {
	width: 50%;
	height: 75%;
}
