.SliderPlus {
	background-color: var(--fg-color);

	& > .header {
		display: grid;
		grid-template-columns: 1fr 60px max-content;
		column-gap: 6px;
		margin-bottom: 4px;
		align-items: center;

		& > span {
			font-weight: var(--font-weight-medium);
			color: var(--text-color);
			font-size: 0.95em;
		}
	}

	&.highlight > .header > span {
		color: var(--icon-vibrant-color);
		font-weight: var(--font-weight-semibold);
	}

	& > input[type="range"] {
		width: 100%;
	}
}
