.TooltipPopup {
	line-height: 1.4;
	pointer-events: none;
	position: fixed;
	display: block;
	background-color: var(--fg-color-opp);
	color: var(--text-color-opp);
	padding: 8px 12px;
	white-space: break-spaces;
	border-radius: var(--radius-md);
	z-index: 9999999999999;
	overflow-wrap: break-word;
	font-size: 0.9rem;
	user-select: none;
	box-shadow: var(--shadow-elevated);
}
